* {
    margin: 0;
    padding: 0;
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    display: inline-block;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border: 0;
}

ul,
ol {
    list-style: none;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.box {
    background-color: rgb(95, 158, 160);
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 15px;
    color: white;
    display: grid;
    place-items: center;
    font-size: 24px;
    box-shadow: 0 0 10px black;
    position: relative;
}

.text {
    background-color: chocolate;
    width: 150px;
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 15px;
    color: white;
    display: grid;
    place-items: center;
    font-size: 16px;
    box-shadow: 0 0 1px black;
}


/*box1 {

    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid lab(58.5% -21.92 -8.04);

    transform: translateY(-340px)
}*/


.arrow {
    background-color: rgb(95, 158, 160);
    width: 10px;
    left: 50%;

    position: absolute;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%) rotate(45deg);


}

/*.close {
    position: absolute;
    right: 135px;
    transform: translatey(-110%);
    cursor: pointer;
}*/